<footer class="border-t border-gray-200 mt-8">
    <div class="mx-auto px-4 py-6 max-w-screen-md">
        Built with <a href="https://github.com/mandava/pagebrew" class="underline">Pagebrew</a>
    </div>
</footer>